<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="_refreshTransactions($event)">
    <ion-refresher-content refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <div class="transactions ion-margin-top" *ngIf="transactionsLoaded | async">
    <div *ngIf="transactionsResponse.transactions.length else noTransactions">
      <ion-list>
        <ion-item-sliding #slidingItem class="transaction-card" *ngFor="let transaction of transactionsResponse.transactions">
          <ion-item>
            <ion-row class="w-100 ion-justify-content-between ion-padding">
              <ion-col size="1" class="ion-align-self-center">
                <ion-icon [name]="transaction.type === 'EXPENSE' ? 'cart' : 'cash'" size="large"></ion-icon>
              </ion-col>
              <ion-col size="5">
                <ion-row class="ion-align-items-center">
                  <ion-col>
                    <ion-text class="ion-font-bold transaction-title">{{ transaction.title }}</ion-text>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <ion-text class="ion-font-medium transaction-date">{{ transaction.issueDate }}</ion-text>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="4" class="ion-align-self-center">
                <ion-text class="ion-font-bold transaction-amount"
                          [color]="transaction.type === 'EXPENSE' ? 'danger' : 'success'">{{ transaction.amount }},- Ft
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item-options side="start">
            <ion-item-option color="primary" (click)="_handleEdit(slidingItem, transaction)">
              <ion-icon name="create-outline"></ion-icon>
              <ion-text class="ion-font-bold">Edit</ion-text>
            </ion-item-option>
          </ion-item-options>
          <ion-item-options side="end">
            <ion-item-option color="danger" (click)="_handleDelete(slidingItem, transaction)">
              <ion-icon name="trash-outline"></ion-icon>
              <ion-text class="ion-font-bold">Delete</ion-text>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <ion-row class="ion-justify-content-between ion-padding">
          <ion-col size="1"></ion-col>
          <ion-col class="ion-text-start" size="5">
            <ion-text class="ion-font-bold">Total</ion-text>
          </ion-col>
          <ion-col size="4">
            <ion-text [color]="transactionsResponse.total > 0 ? 'success' : 'danger'"
                      class="ion-font-bold">{{ transactionsResponse.total }},- Ft
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
  </div>
</ion-content>

<ng-template #noTransactions>
  <div class="ion-text-center ion-margin-top">
    <ion-text class="opacity-35 ion-font-bigger ion-font-bold">
      No transactions found!
    </ion-text>
  </div>
</ng-template>
