<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="pink"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-font-medium">Choose the appearance</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="page-container">
  <div class="appearance-selection">
    <ion-radio-group [(ngModel)]="selectedAppearance" (ionChange)="_onSelectionChanged()">
      <ion-item lines="none">
        <ion-label class="ion-padding">System</ion-label>
        <ion-radio mode="ios" slot="end" color="pink" value="system"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-padding">Dark</ion-label>
        <ion-radio mode="ios" slot="end" color="pink" value="dark"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label class="ion-padding">Light</ion-label>
        <ion-radio mode="ios" slot="end" color="pink" value="light"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
</ion-content>
