ion-tab-bar {
  height: 60px;
}

ion-label {
  font-family: GTProMedium, serif !important;
  font-size: 1.3em;
}

.tab-selected {
  border-top-width: 4px;
  border-top-color: var(--ion-color-pink);
  border-top-style: solid;
}
ion-tab-button{
  --background-focused: var(--ion-color-pink);
  --color-selected: var(--ion-color-pink);
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-bottom: 0px;
  --margin-left:0px;
  --margin-right:0px;
  max-width:100px;
}

ion-fab-button {
  --background: var(--ion-color-pink) !important;
  -–ion-color-base:  var(--ion-color-pink) !important;
}
