<ion-tabs #tabs (ionTabsDidChange)="_setSelectedTab($event)">
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" translucent="true">
    <ion-fab-button color="pink">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="grid-outline" class="ion-fab-button-icon"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_HOME) ? 'home' : 'home-outline'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budgets">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_BUDGETS) ? 'wallet' : 'wallet-outline'"></ion-icon>
      <ion-label>Budgets</ion-label>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_STATISTICS) ? 'pie-chart' : 'pie-chart-outline'"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_SETTINGS) ? 'settings' : 'settings-outline'"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
