<ion-tabs #tabs (ionTabsDidChange)="_setSelectedTab($event)">
  <ion-fab *ngIf="_isFabNeeded()" vertical="bottom" horizontal="center" slot="fixed" translucent="true">
    <ion-fab-button color="pink" (click)="_handleCreateClick()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_HOME) ? 'home' : 'home-outline'"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="budgets">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_BUDGETS) ? 'wallet' : 'wallet-outline'"></ion-icon>
      <ion-label>Budgets</ion-label>
    </ion-tab-button>

    <ion-tab-button *ngIf="_isFabNeeded()"></ion-tab-button>

    <ion-tab-button tab="statistics">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_STATISTICS) ? 'pie-chart' : 'pie-chart-outline'"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon [name]="_checkIfTabIsSelected(_TABS.TAB_SETTINGS) ? 'settings' : 'settings-outline'"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
