<ion-card class="ion-margin-bottom" [ngStyle]="{'border-left': '10px solid ' + budget.colorCode}">
  <ion-card-header style="display: flex; flex-direction: row; justify-content: space-between">
    <ion-card-subtitle class="ion-font-bold">{{ budget.title }}</ion-card-subtitle>
    <ion-text>
      <ion-icon name="ellipsis-vertical" (click)="_handleMoreClick($event, budget)"></ion-icon>
    </ion-text>
  </ion-card-header>
  <ion-card-content>
    <div class="budget-remaining-row">
      <ion-text class="ion-font-bold ion-font-bigger">
        {{ budget.remainingAmount }} {{ budget.currency }}
        <ion-text class="ion-font-smaller">({{ (100 - ((budget.remainingAmount / budget.budgetAmount) * 100)).toFixed(1) }}% used up)</ion-text>
      </ion-text>
      <ion-text class="ion-font-bold">{{ budget.budgetAmount }} {{ budget.currency }}</ion-text>
    </div>
    <ion-progress-bar [value]="((budget.budgetAmount - budget.remainingAmount) / budget.budgetAmount)" style="--progress-background: {{budget.colorCode}};"></ion-progress-bar>
  </ion-card-content>
</ion-card>
