.budget-card {
  border-left-width: 10px;
  border-left-style: solid;
}

.budget-remaining-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
