/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/* Custom font family */
@font-face {
  font-family: GTProLight;
  src: url("./assets/fonts/GTWalsheimPro-Light.ttf");
}

@font-face {
  font-family: GTProRegular;
  src: url("./assets/fonts/GTWalsheimPro-Regular.ttf");
}

@font-face {
  font-family: GTProMedium;
  src: url("./assets/fonts/GTWalsheimPro-Medium.ttf");
}

@font-face {
  font-family: GTProBold;
  src: url("./assets/fonts/GTWalsheimPro-Bold.ttf");
}

.ion-color-pink {
  --ion-color-base: var(--ion-color-pink);
  --ion-color-base-rgb: var(--ion-color-pink-rgb);
  --ion-color-contrast: var(--ion-color-pink-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pink-contrast-rgb);
  --ion-color-shade: var(--ion-color-pink-shade);
  --ion-color-tint: var(--ion-color-pink-tint);
}

.ion-color-blue {
  --ion-color-base: var(--ion-color-blue);
  --ion-color-base-rgb: var(--ion-color-blue-rgb);
  --ion-color-contrast: var(--ion-color-blue-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blue-contrast-rgb);
  --ion-color-shade: var(--ion-color-blue-shade);
  --ion-color-tint: var(--ion-color-blue-tint);
}

.ion-font-light {
  font-family: GTProLight, serif !important;
}

.ion-font-regular {
  font-family: GTProRegular, serif !important;
}

.ion-font-medium {
  font-family: GTProMedium, serif !important;
}

.ion-font-bold {
  font-family: GTProBold, serif !important;
}

.ion-text-decoration-none {
  text-decoration: none;
}

.ion-font-bigger {
  font-size: 1.4em;
}

.ion-font-home {
  font-size: 1.2em;
}

.ion-font-title {
  font-size: 1.5em;
}

.ion-font-smaller {
  font-size: 0.7em;
}

.w-100 {
  width: 100%;
}

.opacity-35 {
  opacity: 35%;
}

.toolbar-icon {
  --ionicon-stroke-width: 64px;
}

.no-ripple {
  --ripple-color: transparent;
  --background-activated: transparent;
}

.error-message {
  font-size: smaller;
  color: red;
}
