<ion-content fullscreen>
  <ion-header mode="md" class="ion-no-border ion-margin-top">
      <ion-toolbar>
        <ion-title class="ion-font-bold ion-font-bigger">
          Transactions
        </ion-title>
        <ion-buttons slot="end" class="ion-padding">
          <ion-button (click)="handleAddTransaction()">
            <ion-icon name="add-outline" color="pink" class="toolbar-icon"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
  <app-day-selector (onDateSelect)="onSelectedDateChange($event)" [selectedDate]="selectedDate"></app-day-selector>
  <app-transactions [selectedDate]="selectedDate" (editTransactionEmitter)="handleEditTransaction($event)"></app-transactions>
</ion-content>
