<ion-content fullscreen="true">
  <ion-header mode="md" class="ion-no-border ion-margin-top">
      <ion-toolbar>
        <ion-title color="dark" class="ion-font-bold ion-font-title">
          Welcome, Vivien!
        </ion-title>
        <ion-buttons slot="end" class="ion-padding">
          <ion-button (click)="_openMorePopover($event)">
            <ion-icon slot="icon-only" color="pink" ios="ellipsis-vertical" md="ellipsis-vertical"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
  </ion-header>
  <app-day-selector></app-day-selector>
  <app-transactions></app-transactions>
</ion-content>
