<ion-content fullscreen>
  <ion-header mode="md" class="ion-no-border ion-margin-top">
    <ion-toolbar>
      <ion-title class="ion-font-bold ion-font-bigger">
        Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="none">
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon size="large" name="person-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Vivien Szandai</h2>
          <ion-text color="medium" class="user-email">szandaivivi@gmail.com</ion-text>
        </ion-label>
        <ion-text>
          <ion-icon color="medium" name="chevron-forward-outline"></ion-icon>
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>Dark theme</ion-label>
        <ion-toggle color="dark"></ion-toggle>
      </ion-item>
  </ion-list>
</ion-content>
