<ion-content fullscreen="true">
  <ion-header mode="md" class="ion-no-border ion-margin-top">
    <ion-toolbar>
      <ion-title color="dark" class="ion-font-bold ion-font-title">
        Settings
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list class="ion-margin-top" lines="none">
      <ion-item class="settings-menu-item no-ripple" [routerLink]="['/tabs/settings/account']" detail="false">
        <ion-icon slot="start" color="black" name="person-outline" class="settings-menu-item-icon"></ion-icon>
        <ion-text class="settings-menu-item-label ion-font-bold">Account</ion-text>
        <ion-icon slot="end" color="black" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="settings-menu-item no-ripple" (click)="_toggleAppearanceSelector()" detail="false">
        <ion-icon slot="start" color="black" name="eye-outline" class="settings-menu-item-icon"></ion-icon>
        <ion-text class="settings-menu-item-label ion-font-bold">Appearance</ion-text>
        <ion-icon slot="end" color="black" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="settings-menu-item no-ripple" [routerLink]="['/privacy']" detail="false">
        <ion-icon slot="start" color="black" name="lock-closed-outline" class="settings-menu-item-icon"></ion-icon>
        <ion-text class="settings-menu-item-label ion-font-bold">Privacy & Security</ion-text>
        <ion-icon slot="end" color="black" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="settings-menu-item no-ripple" [routerLink]="['/about']" detail="false">
        <ion-icon slot="start" color="black" name="help-circle-outline" class="settings-menu-item-icon"></ion-icon>
        <ion-text class="settings-menu-item-label ion-font-bold">About</ion-text>
        <ion-icon slot="end" color="black" name="chevron-forward-outline"></ion-icon>
      </ion-item>
      <ion-item class="settings-menu-item no-ripple" (click)="logout()">
        <ion-icon slot="start" color="danger" name="log-out-outline" class="settings-menu-item-icon"></ion-icon>
        <ion-text class="settings-menu-item-label ion-font-bold" color="danger">Log out</ion-text>
      </ion-item>
  </ion-list>
  <ion-item hidden="true">
    <ion-label>Appearance</ion-label>
    <ion-select #appearanceSelector ok-text="Save" cancel-text="Cancel" [(ngModel)]="currentTheme">
      <ion-select-option value="system">System</ion-select-option>
      <ion-select-option value="light">Light</ion-select-option>
      <ion-select-option value="dark">Dark</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
