<ion-content fullscreen>
  <ion-list lines="none">
      <ion-list-header class="ion-margin-bottom">Settings</ion-list-header>
      <ion-item>
        <ion-avatar slot="start">
          <ion-icon size="large" name="person-circle-outline"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>Vivien Szandai</h2>
          <ion-text color="medium" class="user-email">szandaivivi@gmail.com</ion-text>
        </ion-label>
        <ion-text>
          <ion-icon color="medium" name="chevron-forward-outline"></ion-icon>
        </ion-text>
      </ion-item>
  </ion-list>
</ion-content>
